// Tipografía para el sistema
@font-face {
    font-family: "PrincipalFont-Regular";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "PrincipalFont-Medium";
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "PrincipalFont-Bold";
    src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "PrincipalFont-SemiBold";
    src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
  }